<section class="privacy_box">
  <p class="m_b15 txt18 txt_b">個人情報の取扱いについて</p>
  <dl class="privacy_list">
    <dd>
    一般社団法人FLAネットワーク協会（以下、当協会という。）では、お預かりする個人情報を以下のような目的で適切に取扱います。<br>
    ご提供いただきました個人情報については、1年間当協会にて保管し、当協会にて責任をもって廃棄させていただきます。16歳未満の方は保護者の同意を得た上でお申し込みください。
    </dd>
    <dt>【事業者の名称】</dt>
    <dd>一般社団法人FLAネットワーク協会 </dd>
    <dt>【利用目的】</dt>
    <dd>会員に関するご案内、ゼミナールのご案内、会報誌の送付、インタビューやアンケートの回答(写真撮影も含む)、その他検定に関する連絡事項の伝達、各種お問合せへの対応　等</dd>
    <dt>【委託について】</dt>
    <dd>前項の利用目的の達成に必要な範囲内で個人情報を外部に委託することがあります。</dd>
    <dt>【提供について】</dt>
    <dd>
      <p class="m_b10">当協会は、以下のいずれかに該当する場合を除き、第三者への提供はいたしません。</p>
      <ul class="round_list">
        <li>貴殿が事前に承諾された場合。</li>
        <li>法令に基づく場合。</li>
        <li>人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき。</li>
        <li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき。</li>
        <li>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることによって当該事務の遂行に支障を及ぼすおそれがあるとき。</li>
      </ul>
    </dd>
    <dt>【個人情報を与えることの任意性について】</dt>
    <dd>
      <p class="m_b10">
        個人情報のご提供は任意ですが、【利用目的】を遂行するために必要なものです。<br>
        ご入力いただけない項目がある場合、お申込をお受けできない場合がございます。<br>
        ※必須項目をご入力いただけない場合、送信することができませんのでご了承ください。
      </p>
    </dd>
    <dt>【個人情報の開示、訂正、削除について】</dt>
    <dd>
      <p class="m_b10">当協会が保有する開示個人情報について、以下に示す開示等を請求することができます。</p>
      <ul class="round_list">
        <li>開示個人情報の利用目的の通知</li>
        <li>開示個人情報の開示</li>
        <li>開示個人情報の訂正、追加又は削除</li>
        <li>開示個人情報の利用又は提供の拒否権</li>
      </ul>
    </dd>
    <dt>【個人情報の開示等の窓口】</dt>
    <dd>
      <p class="m_b110"> ご提供いただいた個人情報の開示等に関して下記のお問合せ窓口に申し出ることができます。</p>
      <p> 一般社団法人FLAネットワーク協会　<br> 電話番号：03-3371-3550　<br> 住所：〒160-0023　東京都新宿区西新宿7-15-10　大山ビル2F <br> 【個人情報保護管理者】<br> 一般社団法人FLAネットワーク協会　事務局長<br> 電話番号：03-3371-3550 </p>
    </dd>
  </dl>
</section>
