@charset "utf-8";

/*  common
-----------------------------------------------------------------------------*/
* { box-sizing: border-box; }

p{margin:8px 0;}
/*  link 
-----------------------------------------------------------------------------*/
a { color: #000; text-decoration:none; }
a:visited { color: #000; text-decoration:none; }
a:hover { color: #000; text-decoration: underline; }
a img { border: 0; }

/*  font 
-----------------------------------------------------------------------------*/
.txt28 { font-size: 28px; }
.txt26 { font-size: 26px; }
.txt24 { font-size: 24px; }
.txt22 { font-size: 22px; }
.txt20 { font-size: 20px; }
.txt18 { font-size: 18px; }
.txt16 { font-size: 16px; }
.txt15 { font-size: 15px; }
.txt14 { font-size: 14px; }
.txt13 { font-size: 13px; }
.txt12 { font-size: 12px; }
.txt11 { font-size: 11px; }
.txt10 { font-size: 10px; }
.txt_b { font-weight: bold; }


/*	margin padding
-----------------------------------------------------------------------------*/
.mt_16p{margin-top:16px;}
.mt_32p{margin-top:32px;}
.mt_40p{margin-top:40px;}

.mt_60p,
.sst.mt_60p{margin-top:60px;}

.mt_64p,
.copy.mt_64p,
.sst.mt_64p{margin-top:64px;}


.mtb_24p{margin:24px 0;}
.mtb_64p{margin:64px 0;}

.mb_24p{margin-bottom:24px}

.m_b05 { margin-bottom: 5px; }
.m_b10 { margin-bottom: 10px; }
.m_b15 { margin-bottom: 15px; }
.m_b16 { margin-bottom: 16px;}
.m_b20 { margin-bottom: 20px; }
.m_b25 { margin-bottom: 25px; }
.m_b30 { margin-bottom: 30px; }
.m_b32 { margin-bottom: 32px; }
.m_b35 { margin-bottom: 35px; }
.m_b40 { margin-bottom: 40px; }
.m_b45 { margin-bottom: 45px; }
.m_b50 { margin-bottom: 50px; }
.m_b55 { margin-bottom: 55px; }
.m_b60 { margin-bottom: 60px; }

/*	photo 
-----------------------------------------------------------------------------*/
.photo_img, .photo_left, .photo_right { padding: 7px; border: #E8E8E8 1px solid; background: #FFFFFF; }
.photo_img { margin: 0 0px 8px 0; }
.photo_left { margin: 0 8px 8px 0; float: left; }
.photo_right { margin: 0 0 8px 8px; float: right; }

.img_photo { margin: 0 0px 8px 0; }
.img_left { margin: 0 20px 8px 0; float: left; }
.img_right { margin: 0 0 8px 8px; float: right; }

/*	main_table 
-----------------------------------------------------------------------------*/

/*	color
-----------------------------------------------------------------------------*/
.c_fff { color: #fff; }
.red { color: #cb1f28; }
.yellow { color: #e8a604; }
.orange { color: #ff6b00; }
.orange2 { color: #ff9232; }
.black{ color: #333;}
.c_ff3ca8 a{color:#ff3ca8;}
.c_9A3CCA a{color:#9A3CCA;}
.bg_ffd800{background: #ffd800;}
.bg_FFF9D4{background: #FFF9D4;}
.bg_FFF3AF{background: #FFF3AF;}
.bg_FFED89{background: #FFED89;}
.bg_ff3ca8{background: #ff3ca8;}
.bg_FF9AD1{background: #FF9AD1;}
.bg_9A3CCA{background: #9A3CCA;}
.bg_c252ff{background: #c252ff;}
.bg_BB77D6{background: #BB77D6;}
.bg_DE9FFE{background: #DE9FFE;}
.bg_9BCA50{background: #9BCA50;}

.f_12p{font-size: 12px;}
.f_14p{font-size: 14px;}
.f_18p{font-size:18px;}

.h_240p{height: 240px;}
.h_320p_sm420{height: 320px;}
.h_680p_sm1200{height:680px;}

.w100{width: 100%;}

.t_ce{text-align: center;}

.sst.pc_co_fff_sm_ff6b00,
.sst.pc_co_fff_sm_ff6b00 .black{
	color: #fff;
  border-left: none;
}
.img_auto_w320_h240{
	width: auto;
	height: auto;
	max-width: 320px;
	max-height: 240px;
}

/*	flex
-----------------------------------------------------------------------------*/
.cont_flex{display: flex; justify-content: space-between;}
.cont_flex.flex_center{justify-content: center;}

.flex_box{
	display: flex;
}
.flex_box_jcsa{
	display: flex;
  justify-content: space-around;
}
.flex_box_jcsb{
	display: flex;
	justify-content: space-between;
}
.flex_box_jcse{
	display: flex;
  justify-content: space-evenly;
}
.flex_box_jcce_aice{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex_box_jcsa_aic{
	display: flex;
  justify-content: space-evenly;
  align-items: center;
}


@media only screen and (max-width :768px) {
  .cont_flex{display: block; }
}

/* button
.js_hvr-btnでホバー効果
.js_hvr-btn_wrpで直下子要素にホバー効果
-----------------------------------------------*/
.js_hvr-btn,
.js_link-box,
.js_hvr-btn_wrp >*,
.js_link-box_wrp >*,
.link_btn{cursor:pointer;}
.js_hvr-btn:hover,
.js_hvr-btn a:hover,
.js_hvr-btn_wrp a:hover,
.js_link-box:hover,
.js_link-box a:hover,
.js_link-box_wrp a:hover{text-decoration:none;}


/* layout
-----------------------------------------------*/
.layout6,
.layout5,
.layout4,
.layout3,
.layout2,
.layout_box6,
.layout_box5,
.layout_box4,
.layout_box3,
.layout_box2{box-sizing: border-box;	width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
display:-webkit-box;
display:-ms-flexbox;
-ms-flex-wrap: wrap;
-webkit-box-align: start;
-ms-flex-align: start;
 display: flex; flex-wrap: wrap; justify-content: flex-start;}

.layout6 > *,
.layout5 > *,
.layout4 > *,
.layout3 > *,
.layout2 > *,
.layout_box6 > *,
.layout_box5 > *,
.layout_box4 > *,
.layout_box3 > *,
.layout_box2 > *{box-sizing: border-box; align-self: stretch; margin-bottom: 10px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
-ms-flex-item-align: stretch;}

.layout6 > *{width:16%;}
.layout5 > *{width:20%;}
.layout4 > *{width:25%;}
.layout3 > *{width:33.3%;}
.layout2 > *{width:50%;}

.layout_box6 > *{width:15.5%; margin-right: 1.4%;}
.layout_box6 > *:nth-child(6n){margin-right:0;}
.layout_box5 > *{width:18.5%; margin-right: 1.8%;}
.layout_box5 > *:nth-child(5n){margin-right:0;}
.layout_box4 > *{width:23.5%; margin-right: 2%;}
.layout_box4 > *:nth-child(4n){margin-right:0;}
.layout_box3 > *{width:32%; margin-right: 2%;}
.layout_box3 > *:nth-child(3n){margin-right:0;}
.layout_box2 > *{width:48%; margin-right: 4%;}
.layout_box2 > *:nth-child(2n){margin-right:0;}

.layout_box6 > .blank,
.layout_box5 > .blank,
.layout_box4 > .blank,
.layout_box3 > .blank,
.layout_box2 > .blank{opacity: 0}

.layout6.flex_center,
.layout5.flex_center,
.layout4.flex_center,
.layout3.flex_center,
.layout2.flex_center,
.layout_box6.flex_center,
.layout_box5.flex_center,
.layout_box4.flex_center,
.layout_box3.flex_center,
.layout_box2.flex_center{justify-content:center;}

.layout_box6.flex_center > *{width:15.5%; margin-right: 0.7% !important; margin-left: 0.7% !important;}
.layout_box6.flex_center > *:nth-child(6n){margin-right:0 !important;}
.layout_box6.flex_center > *:nth-child(6n+1){margin-left:0 !important;}
.layout_box5.flex_center > *{width:18.0%; margin-right: 1.25% !important; margin-left: 1.25% !important;}
.layout_box5.flex_center > *:nth-child(5n){margin-right:0 !important;}
.layout_box5.flex_center > *:nth-child(5n+1){margin-left:0 !important;}
.layout_box4.flex_center > *{width:23.5%; margin-right: 1% !important; margin-left: 1% !important;}
.layout_box4.flex_center > *:nth-child(4n){margin-right:0 !important;}
.layout_box4.flex_center > *:nth-child(4n+1){margin-left:0 !important;}
.layout_box3.flex_center > *{width:32%;  margin-right: 1.0% !important; margin-left: 1.0% !important;}
.layout_box3.flex_center > *:nth-child(3n){margin-right:0 !important;}
.layout_box3.flex_center > *:nth-child(3n+1){margin-left:0 !important;}
.layout_box2.flex_center > *{width:48%; margin-right: 2% !important; margin-left: 2% !important;}
.layout_box2.flex_center > *:nth-child(2n){margin-right:0 !important;}
.layout_box2.flex_center > *:nth-child(2n+1){margin-left:0 !important;}

@media only screen and (max-width :768px) {
	.layout6 > *{width:50%;}
	.layout5 > *{width:50%;}
	.layout4 > *{width:50%;}
	.layout3 > *{width:50%;}
	.layout2 > *{width:100%;}

	.layout_box6 > *,
	.layout_box5 > *,
	.layout_box4 > *,
	.layout_box3 > *{width:48%; margin-right: 4% !important;}
	.layout_box6 > *:nth-child(2n),
	.layout_box5 > *:nth-child(2n),
	.layout_box4 > *:nth-child(2n),
	.layout_box3 > *:nth-child(2n){margin-right: 0 !important;}

	.layout_box3 > .blank:last-child:nth-child(2n+1),
	.layout_box2 > .blank{display: none;}
}

@media only screen and (max-width :700px) {
	span.w_640_100{
		display: block;
		width:100%;
	}
}

@media only screen and (max-width :600px) {
	.sst.pc_co_fff_sm_ff6b00{
		color: #ff6b00;
	}
}






@media only screen and (max-width :450px) {
	.layout6 > *,
	.layout5 > *,
	.layout4 > *,
	.layout3 > *,
	.layout2 > *{width:100%; box-sizing: border-box;}

	.layout_box6 > *,
	.layout_box5 > *,
	.layout_box4 > *,
	.layout_box3 > *,
	.layout_box2 > *{width:100%; margin-right:auto !important; margin-left: auto !important; box-sizing: border-box;}
  
	.layout_box6 > .blank,
	.layout_box5 > .blank,
	.layout_box4 > .blank,
	.layout_box3 > .blank{display: none;}
	
	.layout6 > * .link_btn,
	.layout5 > * .link_btn,
	.layout4 > * .link_btn,
	.layout3 > * .link_btn,
	.layout2 > * .link_btn,
	.layout_box6 > * .link_btn,
	.layout_box5 > * .link_btn,
	.layout_box4 > * .link_btn,
	.layout_box3 > * .link_btn,
	.layout_box2 > * .link_btn{margin-bottom: 0;}

	.btm_licens p.sm_w80{
		width:80px;
	}

}
/*  align
-----------------------------------------------------------------------------*/
.align_r { text-align: right; }
.align_c { text-align: center; }
.align_l { text-align: left; }
.valign_m { vertical-align: middle; }
.valign_t { vertical-align: top; }

/*  float 
-----------------------------------------------------------------------------*/
.fl { float: left; }
.fr { float: right; }
.cb { overflow: hidden; clear: both; }
.cb:after { content: ""; display: block; clear: both; height: 1px; overflow: hidden; }
/*\*/
* html .cb { height: 1em; overflow: visible; }
/**/


.top_sc{
  right: 10px;
  bottom: 20px;
  position: fixed;
	z-index: 10;
}
