@charset "UTF-8";
@media only screen and (max-width :1500px) {
}
@media only screen and (max-width :980px) {
}
@media only screen and (max-width :800px) {

/*--------------------------------------------------------
サイト全体の共通設定
-------------------------------------------------------*/

html { overflow-y: scroll; overflow-x: hidden; }
html,
body { width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
textarea,
input { max-width: 95%; }
input[type="submit"],
input[type="image"],
input[type="reset"],
input[type="button"],
input[type="file"] { max-width: none; }
/*●画像サイズの調整*/
img { height: auto; max-width: 100%; }
body {}
#wrapper,
h1 { width: 100% !important; }

.photo_img, .photo_left, .photo_right,
.img_photo, .img_left, .img_right { float:none !important; display:block; text-align:center; margin-left:auto; margin-right:auto;}

.br_clear{ display:none;}
.br_sp{display:block;}

.fl,.fr{float:none;}

#header #header_contents,
#footer #footer_navi,
#footer #footer_end #footer_other,
#contents,
#top_main{width:auto !important; height:auto;}




/*  Inpage Common
-----------------------------------------------------------------------------*/

.link_btn{display:inline-block; background:#949494 url(../../img/link_btn_img.png) no-repeat 97% 50%; padding:10px 70px; margin:0 10px 10px 10px; line-height:100%; color:#fff; font-size:18px; text-decoration:none; border:none; cursor:pointer;}
.link_btn:hover{background-color:#ccc; text-decoration:none;}

.btn_link{margin-bottom:0px; overflow:visible;}
.btn_link li,
.btn_link.bl_layout3 li,
.btn_link.bl_layout5 li{float:left; width:98%; margin:0 1% 5px 1%; text-align:left;}
.btn_link.bl_layout3 li br,
.btn_link.bl_layout5 li br{display:none;}
.btn_link li a{ letter-spacing:0px; border-radius:3px; box-shadow:0px 2px 0px 0px #FF5465; background-position: 5px 50% !important; text-align:left; padding: 8px 5px 8px 27px !important;}

#inpage_navi{margin-bottom:5px;}
.main_tit{ margin-bottom:15px;}

.onepoint_tit{font-size:18px; text-align:center;}
.onepoint_tit img{float:none; display:block; margin:0 auto 10px auto;}

.square_ico{background:url(../../img/square_ico.gif) no-repeat; padding: 0 0 3px 23px;}

/* detail_contents start */
#detail_contents{border-width:7px; border-style:solid; padding:0 5px 9px 5px;}

#juken #detail_contents{border-color:#C3E07C;}
#recipe #detail_contents{border-color:#FFF579}
#column #detail_contents{border-color:#64B3F0}
#ado #detail_contents{border-color:#FF9670;}
#ado_field #detail_contents{border-color:#FF9670;padding:0 8px 18px 8px;}
#ado_fukugo #detail_contents{border-color:#FF9670;padding:0 10px 18px 10px;}
#kyokai #detail_contents{border-color:#FF9570;}
#shoseki #detail_contents{border-color:#9198EE;}
#qa #detail_contents{border-color:#9198EE;}
#dantai #detail_contents{border-color:#96BCEC;}
#kaiin #detail_contents{border-color:#B1E6F1;}
#gokaku #detail_contents{border-color:#B1E6F1;}
#tusin #detail_contents{border-color:#94BAEA;}
#event #detail_contents{border-color:#83D4E5; padding:0;}
#info #detail_contents{border-color:#F19C7F;}
#privacy #detail_contents{border-color:#F19C7F;}
#link #detail_contents{border-color:#a9ace7;}
#sitemap #detail_contents{border-color:#F19C7F;}
#recipe #detail_contents{border-color:#FFF583;}
#gansho #detail_contents{border-color:#33CFED;}
/* detail_contents end */




/* main_table start */

.main_table{border-collapse:collapse;table-layout: fixed;}
.main_table th,
.main_table td{ width: 100%; display:block; padding-left:0px ; padding-right:0 ; float:left; clear:both;  }
.main_table th{border-bottom:none !important; padding-bottom:0px ; padding:4px 2% !important; width:96% !important; text-align:left;}
.main_table td{padding:10px 2% !important; width:96% !important;}
/*.main_table td label,
.main_table td textarea,
.main_table td input,
.main_table td select{display:list-item;}*/
.main_table td label,
.main_table td textarea{display:list-item;}

#juken .main_table th {background-color:#93CB00;}
#juken .main_table td {background-color:#DEF0B8;}
#juken .main_table .td_title{background-color:#B4D85B;}
 

.scroll{overflow: auto; white-space: nowrap;}
.scroll::-webkit-scrollbar{height: 5px;}
.scroll::-webkit-scrollbar-track{background: #F1F1F1;}
.scroll::-webkit-scrollbar-thumb {background: #BCBCBC;} 

#juken_index_table .scroll .main_table { width: 100% !important; margin:0 0 15px 0 !important; table-layout:auto !important; }
#juken_index_table .scroll .main_table th {  border: #ffffff 1px solid !important; display:table-cell !important; float:none !important;}
#juken_index_table .scroll .main_table td { border: #ffffff 1px solid !important; float:none !important; display:table-cell !important; }

/* main_table end */


.box{margin-bottom:20px; height:100%;}
.box_in{padding: 0 0px 15px 0px; height:100%;}

.half_w li{width:100%; float:none;}
.half_w li li{width:100%;}

/* list start */
.maru_list li{background:url(../../img/maru_list.gif) no-repeat 0 2px; padding: 0 0 10px 18px; line-height:130%;}
.end_page_link{margin:0 10px;}
.end_page_link li{ width:100%; min-height:inherit !important;}




/*  header
-----------------------------------------------------------------------------*/
#header { position:static !important; height:auto !important; overflow:hidden !important; margin-bottom:10px !important; background-color:#FFF;}
#header *{position:static !important; width:auto; height:auto;}
#keyword{ font-size:10px; line-height:100%; }
#header #sp_navi_btn{ float:right; width:56px; display:block !important; padding:5px 0;}
#header .logo{ width:76%; padding:0px 0; height:auto; float:left;}
#header #header_other{float:left; width:100%; clear:both;}
#header .header_tel{ float:left; width:57%; }
#header .header_time{ float:right; width:40%; margin-left:3%;}

#header #sp_navi_box{display:none;} 

#header #navi{display:none !important;}
#header #sp_navi{display:block; clear:both;}
#header #sp_navi li{float:none; width:100% !important; border-bottom:1px solid #eee;}
#header #sp_navi li a{ width:auto !important; height:auto; float:none; text-indent:0; background:url(../../img/link_yazirushi01.png) no-repeat 98% 50%  !important; padding:8px 20px 8px 10px; display:block;}

#header_link{clear:both; border-right:1px solid #eee; overflow:hidden; overflow:hidden; margin-bottom:5px;}
#header_link li{background:url(../../img/yazirusi01.gif) no-repeat 5px 50%; padding-left:0px; width:50%; float:left; display:block; height:auto !important;}
#header_link li a{display:block;  border-bottom:1px solid #eee; border-left:1px solid #eee; padding:10px 0 9px 23px; line-height:100%;}

#header_secrch{overflow:hidden; margin:0 10px; padding-bottom:15px;}
#header_secrch .header_search_box{float:left; width:77% !important; height:auto !important;}
#header_secrch .header_search_box input{width:100%; height:25px; vertical-align:middle; }
#header_secrch .header_search_btn{width:23% !important; height:auto !important; float:right; text-align:right;}
#header_secrch .header_search_btn input{width:100%; height:auto; vertical-align:middle;}

#header .header_link01{ position: absolute; top:39px; left:728px; height:15px; z-index:1; }
#header .header_link02{ position: absolute; top:39px; left:814px; height:15px; z-index:1; }
#header .header_link03{ position: absolute; top:57px; left:728px; height:15px; z-index:1; }
#header .header_link04{ position: absolute; top:57px; left:814px; height:15px; z-index:1; }
#header .header_search_box{ position: absolute; top:0px; left:675px; width:212px; height:21px; z-index:1; }
#header .header_search_btn{ position: absolute; top:1px; left:890px; width:60px; height:19px; z-index:1; }
#header .navi01{ position: absolute; top:85px; left:0px; width:152px; height:36px; z-index:1; }
#header .navi02{ position: absolute; top:85px; left:160px; width:152px; height:36px; z-index:1; }
#header .navi03{ position: absolute; top:84px; left:319px; width:152px; height:36px; z-index:1; }
#header .navi04{ position: absolute; top:85px; left:479px; width:152px; height:36px; z-index:1; }
#header .navi05{ position: absolute; top:85px; left:638px; width:152px; height:36px; z-index:1; }
#header .navi06{ position: absolute; top:85px; left:799px; width:152px; height:36px; z-index:1; }

#header #header_link li{font-size:12px;}

/* header_sp_contents start */
#header #header_sp_contents{clear:both; width:auto; display:none;}
#header #header_contents #header_side #header_lang{float:none; margin:10px auto;}
#header #header_contents #header_side #header_lang select{border:1px solid #eee;}

#header #header_contents ul#navi{clear:both;}
/* header_sp_contents end */

/*  navi
-----------------------------------------------------------------------------*/
#cate_navi{background:#61B0DC; background-image:none; padding:0px 0;}
#cate_navi ul{display:block; line-height:120%; border:none; border-top:1px solid #B0D8EE; }
#cate_navi ul { overflow: hidden; clear: both; padding:0; width:auto !important;}
#cate_navi ul:after { content: ""; display: block; clear: both; height: 1px; overflow: hidden; }
/*\*/
* html #cate_navi ul { height: 1em; overflow: visible; }
/**/
#cate_navi ul li,
#cate_navi ul li:last-child{ width:50%; float:left; padding:0; border-left:none !important; border-right:none !important;}
#cate_navi ul li a{color:#FFF; display:block; border-right:1px solid #B0D8EE; border-bottom:1px solid #B0D8EE; text-align:center; padding:10px 5px; text-align:left; line-height:140%; font-size:12px; letter-spacing:0;}


/*  Footer
-----------------------------------------------------------------------------*/
#footer #footer_contents{width:auto; margin:0px auto; padding:15px 0;}
#footer_title{ padding:0 10px 5px 10px; margin-bottom:10px; font-size:18px; line-height:120%; letter-spacing:0px;}
#footer_title p{text-align:center;}
#footer_title p img{width:100%; height:auto; margin-top:5px;}
/*side_navi booter_link start */

#booter_link dl{ padding-right:0px; float:none; font-size:12px; margin:0 5px 0px 5px; display:block; }
#booter_link dl.no_dl{ padding-right:0;}
#booter_link dl a{ color:#FFF; font-size:13px;}
#booter_link dl dt{background:url(../../img/footer_yazirusi01.gif) no-repeat 0 0; padding-left:22px; padding-bottom:5px; margin-top:15px; line-height:150%;clear:both; font-size:14px;}
#booter_link dl dd{ line-height:120%; padding:3px 1%; width:98%; display:block; float:none; border-bottom:1px solid #F4A58B; }
#booter_link dl dd a{display:block; padding:5px 0; background:url(../../img/link_btn_img.png) no-repeat 98% 50%;}
#booter_link dl dd ul{/*display:none;*/}

#side_navi{display:none;}
/*
#side_navi{border:#FF7E4C 10px solid; margin-bottom:15px;}
#side_navi #side_navi_tit{ text-align:center; background-color:#FF7E4C;}
#side_navi dl{font-size:12px; color:#333; padding:13px; line-height:120%;}
#side_navi dl a{color:#333;}
#side_navi dl dt{text-align:center; padding-bottom:10px;}
#side_navi dl dd{background:url(../../img/side_navi_yazirusi.gif) no-repeat 0 0; padding-left:12px; padding-bottom:3px;}
#side_navi dl dd ul{ padding:3px 0 3px 22px;}
#side_navi dl dd ul li{background:url(../../img/sitemap_s2.gif) no-repeat 0 2px; padding-left:10px;}*/

/*side_navi booter_link end */


#pagetop {right: 5x; bottom: 10px;}

/*  Contents-----------------------------------------------------------------------------*/
#contents { overflow:inherit !important; margin-bottom:20px;}

/* main start ---------------*/
#contents #main { width:auto !important; float:none !important; margin-bottom:20px; }
/* main end ---------------*/

/* side start ---------------*/
#contents #side {width:auto !important; float:none !important;}
#contents #side #side_banner li{ margin-bottom:10px; width:48%; margin:0 1% 5px 1%; float:left; text-align:center;}
#contents #side #side_banner li a{display:block; text-align:center;} 
#contents #side #side_banner li img{width:auto; height: 150px;}
#contents #side #side_banner li#dantai_banner img{width:auto; height: auto !important;}
#contents #side #side_banner li#dantai_banner a{display:block; background-color:#1C9EEF; padding:35px 0;}
#contents #side #side_banner li#syoseki_banner li{text-align:center;}
#contents #side #side_banner li#syoseki_banner a{display:block; background-color:#00D0E7; padding:15px 0;}
#contents #side #side_banner li#syoseki_banner img{width:auto; height:40px;} 
#contents #side #side_banner li#koramu_banner li{text-align:center; width:98%;}
#contents #side #side_banner li#koramu_banner img{width:auto; height:72px;}
#contents #side #side_banner li#koramu_banner p#side_health_recipes{background-color:#94D900; padding:0px 0 0px 0; text-align:center;}
#contents #side #side_banner li#koramu_banner p#side_health_recipes img{width:auto; height:68px !important;}
#contents #side #side_banner li#koramu_banner p:first-child{ background-color:#00D0E7;}
#contents #side #side_banner li#koramu_banner p:last-child{background-color:#94D900;}

#contents #side #side_banner li#side_banner01{background-color:#FFF357;}
#contents #side #side_banner li#side_banner02{background-color:#7DE2F0;}
#contents #side #side_banner li#side_banner03{background-color:#CB83CC;}
#contents #side #side_banner li#side_banner04{background-color:#98d469;}
#contents #side #side_banner li#side_banner05{background-color:#4bc2e7;}
#contents #side #side_banner li#side_banner06{background-color:#eac329;}
#contents #side #side_banner li#side_banner07{background-color:#e7859b;}
#contents #side #side_banner li#side_banner08{background-color:#87CAAC;}
#contents #side #side_banner li#side_banner09{background-color:#0DD2E3;}
#contents #side #side_banner li#side_banner10{background-color:#0DD2E3;}
#contents #side #side_banner li#side_banner15{background-color:#87CAAC;}
#contents #side #side_banner li#side_banner16{background-color:#918078;}
#contents #side #side_banner li#side_banner17{background-color:#918078;}
#contents #side #side_banner li#side_banner18{background-color:#0DD2E3;}
#contents #side #side_banner li#side_banner19{background-color:#00a1a6;}


/* side end ---------------*/




/*  top
-----------------------------------------------------------------------------*/
#top_banner{padding:10px 0 0 0;}
#top_banner li{padding-bottom:10px; text-align:center;}
#top_kentei{border:3px solid #FF845A;}
#top_kentei #top_kentei_tit{width:auto; float:none; text-align:center;}
#top_kentei #top_kentei_detail{  padding:10px 15px 6px 15px; width:auto; float:none;}
#top_kentei #top_kentei_detail dt{width:auto;  position:static !important;}
#top_kentei #top_kentei_detail dd{padding:7px 0 7px 0px; }


#juken_list { padding:10px 0; }
#juken_list li{ border:none; float:left; width:49%; margin:0 0.5% 10px 0.5%;}
#juken_list li a{border:3px solid #ccc; display:block;}
#juken_list li a img{width:100%; height:auto;}
#juken_list .top_juken_banner01 a{ border-color:#9DD56E;}
#juken_list .top_juken_banner02 a{ border-color:#4DC1E6;}
#juken_list .top_juken_banner03 a{ border-color:#F57D50;}
#juken_list .top_juken_banner04 a{ border-color:#E9C229;}
#juken_list .top_juken_banner05 a{ border-color:#E6859B; margin-right:0;}

#juken_banner{padding-bottom:10px; text-align:center;}
#juken_banner li{margin-bottom:5px; padding:0 5px;}
#top_other_list {margin-bottom:10px;}
#top_other_list li{width:49%; margin:0 0.5% 5px 0.5%; float:left;}
#top_other_list li.no_li{margin-right:0; width:100%;}
#top_other_list li.no_li p{width:49%; float:left; margin:0 0.5%; text-align:center;}
#top_other_list li.no_li p a{display:block; background-color:#65CFE5;}


#top_recipe{border:5px solid #AAD814; background-color:#E3F0B9; position:static; height:auto; margin-bottom:10px;}
#top_recipe #top_recipe_title{ text-align:center; background:#AAD814; }
#top_recipe #top_recipe_list {display:block; width:100%; overflow:hidden; padding-top:10px;}
#top_recipe #top_recipe_list li{position:static !important; top:auto !important; left:auto !important; width:44%; height: auto !important; float:left; margin:0 1% 10px 1%; padding:2% 2% 0 2%;}


#top_recipe .top_recipe_list{ position:static !important; top:auto; left:auto; width:auto; height:auto; display:block; padding:5p 0; text-align:center; }

#top_recipe ul li{padding:10px 10px 0px 10px; background-color:#FFF; cursor:pointer; line-height:110%;}
#top_recipe ul li:hover{ background-color:#F4F9E3;}
#top_recipe ul li a{text-decoration:none; color:#3E3A39;}
#top_recipe ul li p{text-align:center; min-height:68px !important;}
#top_recipe ul li p br{display:none;}

#top_news{float:none; width:auto; margin-bottom:10px;}
#top_news h2{background-color:#EF7E59;}
#top_news .news_data{ font-size:12px;}
#top_news_list{padding:9px 7%; background:#FFF; width:auto !important; display:block; min-height:inherit !important;}
#top_news_list dt{position:static !important; padding-top:13px;}
#top_news_list dd{ padding: 3px 0 0px 0px;}

#ado_semi_box{width:auto !important; float:none;}

#top_mame #top_mame_tit{ text-align:center;}
#top_mame dl{ margin:0 auto 8px auto; background:#FFF; border-radius:15px; width:80%;}
#top_mame dl dt{ float:none; border-radius:12px; width:100%; text-align:center; padding:3px 0;}
#top_mame dl dt br{display:none;}
#top_mame dl dd{ float:none; width:100%; padding:5px 0; font-size:14px; text-align:center;}

#top_bottom_link {clear:both; padding:10px 0;}
#top_bottom_link li{float:none; width:100%; margin-right:0%; margin-bottom:8px;}



/*  juken
-----------------------------------------------------------------------------*/
#juken #jyuken_map_list,
#juken #jyuken_map{width:100%; float:right; display:block;}
#juken #jyuken_map .m_b20{text-align:center;}
#juken #jyuken_map dl{background-color:#FFCDD1; padding:15px 20px;}
#juken #jyuken_map dl dt{background-color:#FF5465; color:#FFF; text-align:center; margin:0 auto 10px auto; width:85px; border-radius:8px;}
#juken #jyuken_greeting{padding:20px 10px 20px 10px; }





#juken .color_box{background:#FFFBCB;padding:10px;font-size:14px;}

#juken .navi_box{padding:10px 0px;font-size:14px;}
#juken .navi_box dl{font-size:14px;}
#juken .navi_box dt{float:none; width:auto; padding-left:18px;}
#juken .navi_box dd{float:none; width:auto; text-align:left; letter-spacing:2px;}



#juken #kouza_main{font-size:16px;border-bottom:#FF7E4C 1px solid; margin-bottom:40px;}
#juken #kouza_main .main_table{font-size:16px; margin-bottom:5px;}
#juken #kouza_main .main_table th{ padding: 10px 35px;}
#juken #kouza_main .main_table td{ padding: 10px 35px;}
#juken #kouza_main .half_w .main_table th {text-align:center; width: 40%;padding: 10px 20px;}
#juken #kouza_main .half_w .main_table td{ padding: 10px 20px;}
#juken #kouza_main .maru_list{font-size:16px;}
#juken #kouza_main .m_b10{text-align:center;}

/*
#juken #kouza_main .scroll .main_table { width: 100%; margin-bottom: 15px; font-size:13px; border-collapse: collapse; }
#juken #kouza_main .scroll .main_table th { width: 20%; padding: 10px 0; border: #ffffff 1px solid; font-weight: normal; background: #F0F0F0; color:#FFF; }
#juken #kouza_main .scroll .main_table td { padding: 10px; border: #ffffff 1px solid; word-break: break-all; }
*/

#juken #kouza3_page_title #kouza3_page_txt{margin-top:0px;}
#juken #kouza3_main{font-size:16px;border-bottom:#FF7E4C 1px solid; margin-bottom:40px;}

#juken #kouza3_main .main_table{margin-bottom:20px;}
#juken #kouza3_main .main_table th{background-position:5px 50%;padding:15px 2% 15px 25% !important; width:73% !important;}
#juken #kouza3_main .main_table th br{display:none;}
#juken #kouza3_main .main_table th.title{padding:7px 0 !important; width:100% !important;}
#juken #kouza3_main .main_table td.title{padding:7px 0 !important; width:100% !important;}

#juken #kouza3_tit01{background-image:url(../../juken/img/kouza3_img_01.png);}
#juken #kouza3_tit02{background-image:url(../../juken/img/kouza3_img_02.png);}
#juken #kouza3_tit03{background-image:url(../../juken/img/kouza3_img_03.png);}
#juken #kouza3_tit04{background-image:url(../../juken/img/kouza3_img_04.png);}
#juken #kouza3_tit05{background-image:url(../../juken/img/kouza3_img_05.png);}
#juken #kouza3_tit06{background-image:url(../../juken/img/kouza3_img_06.png);}



#juken #kouza2_page_title #kouza2_page_txt{margin-top:0px;}
#juken #kouza2_main{font-size:16px;border-bottom:#FF7E4C 1px solid; margin-bottom:40px;}

#juken #kouza2_main .main_table{margin-bottom:20px;}
#juken #kouza2_main .main_table th{background-position:5px 50%;padding:15px 2% 15px 25% !important; width:73% !important;}
#juken #kouza2_main .main_table th br{display:none;}
#juken #kouza2_main .main_table th.title{padding:7px 0 !important; width:100% !important;}
#juken #kouza2_main .main_table td.title{padding:7px 0 !important; width:100% !important;}

#juken #kouza2_tit01{background-image:url(../../juken/img/kouza2_img_01.png);}
#juken #kouza2_tit02{background-image:url(../../juken/img/kouza2_img_02.png);}
#juken #kouza2_tit03{background-image:url(../../juken/img/kouza2_img_03.png);}
#juken #kouza2_tit04{background-image:url(../../juken/img/kouza2_img_04.png);}
#juken #kouza2_tit05{background-image:url(../../juken/img/kouza2_img_05.png);}
#juken #kouza2_tit06{background-image:url(../../juken/img/kouza2_img_06.png);}




#juken .mogi_page_title{background-size:contain; position:static; margin-bottom:15px;}
#juken .mogi_page_title h2{position:static;width:auto; font-size:16px;}
#juken .mogi_page_title p{position: static;width:auto; font-size:14px;}

#juken #mogi2_page_title{padding-top:35%; height:auto;}
#juken #mogi3_page_title{padding-top:35%; height:auto;}


#juken .mogi_navi01{background-image:url(../../juken/img/mogi3_num_01.gif);}
#juken .mogi_navi02{background-image:url(../../juken/img/mogi3_num_02.gif);}
#juken .mogi_navi03{background-image:url(../../juken/img/mogi3_num_03.gif);}
#juken .mogi_navi04{background-image:url(../../juken/img/mogi3_num_04.gif);}
#juken .mogi_navi05{background-image:url(../../juken/img/mogi3_num_05.gif);}
#juken .mogi_navi06{background-image:url(../../juken/img/mogi3_num_06.gif);}


#juken .mogi{font-size:14px;border-bottom: #FF7E4C 1px solid;padding-bottom:25px;margin-bottom:40px}

#juken #mogi3_tit01{background-image:url(../../juken/img/mogi3_idx_01.gif);}
#juken #mogi3_tit02{background-image:url(../../juken/img/mogi3_idx_02.gif);}
#juken #mogi3_tit03{background-image:url(../../juken/img/mogi3_idx_03.gif);}
#juken #mogi3_tit04{background-image:url(../../juken/img/mogi3_idx_04.gif);}
#juken #mogi3_tit05{background-image:url(../../juken/img/mogi3_idx_05.gif);}
#juken #mogi3_tit06{background-image:url(../../juken/img/mogi3_idx_06.gif);}

#juken #mogi2_tit01{background-image:url(../../juken/img/mogi2_idx_01.gif);}
#juken #mogi2_tit02{background-image:url(../../juken/img/mogi2_idx_02.gif);}
#juken #mogi2_tit03{background-image:url(../../juken/img/mogi2_idx_03.gif);}
#juken #mogi2_tit04{background-image:url(../../juken/img/mogi2_idx_04.gif);}
#juken #mogi2_tit05{background-image:url(../../juken/img/mogi2_idx_05.gif);}
#juken #mogi2_tit06{background-image:url(../../juken/img/mogi2_idx_06.gif);}


#juken .mogi_main_title{background-position:10px 5px;padding:10px 10px 10px 65px;margin-bottom:20px;}
#juken .mogi_main_title h3{float:none; display:block; width:100%;}
#juken .mogi dl{padding:0 10px 15px 10px;}
#juken .mogi dl dt{float:none; width:auto;}
#juken .mogi dl dd{float:none; width:auto;}
#juken .mogi ol{padding:0 0 10px 0px;}
#juken .mogi ol li{margin-left:13px;}


#juken #mohan_main{font-size:12px;padding-bottom:15px;margin-bottom:20px; text-align:center;}
#juken #mohan_main .box_in{padding-top:10px;padding-bottom:35px;}

#juken .table_l{float:none; width:100%; padding-right: 0%;}
#juken .table_r{float:none; width:100%;}

#juken #mohan_main .main_table {font-size:14px; text-align:center; margin:0;}
#juken #mohan_main .main_table .no_title{display:none;}
#juken #mohan_main .main_table th,#juken #mohan_main .main_table td { text-align:center;}
#juken #mohan03 .table_l{float:none; width:100% !important; padding-right: 0%;}


/*  recipe
-----------------------------------------------------------------------------*/

#recipe #detail_contents #page_title{ margin-top:0px;}
#recipe #detail_contents #recipe_main_box{ background:none; margin-bottom:15px;}
#recipe #detail_contents #recipe_main_box #r_m_box{ padding:0 15px 5px 15px; border:3px solid #666; border-top:none;}
#recipe #detail_contents #recipe_main_box #r_m_box ul li{width:100%; float:none; margin-bottom:10px;}
#recipe #detail_contents #recipe_main_box #r_m_box ul li .r_m_box_photo img{width:100%; height:auto;}

#recipe #detail_contents #rm_list_navi{margin-bottom:15px;}
#recipe #detail_contents #rm_list_navi li{float:left; width:48%; margin:0 1% 5px 1%; text-align:center;}
#recipe #detail_contents #rm_list_navi li img{ width:90%; height:auto;}

#recipe #detail_contents .rm_list_title{margin-bottom:15px;}
#recipe #detail_contents .rm_list_title span{position:static; display:block; width:100%;}

#recipe #detail_contents .rml_list_box li{width:48%; float:left; margin:0 1% 15px 1%; padding-bottom:0px;}
#recipe #detail_contents .rml_list_box li.no_li{margin-right:0;}
#recipe #detail_contents .rml_list_box li dt{height:155px !important;}


#recipe #detail_contents #recipe_page_title{ margin:0 0 0 0px;}
#recipe_index{padding:0 0 15px 0px;}
#recipe_tit{background:url(../../recipe/img/cook_img_01.gif) repeat-x 0% 100%;font-size:18px;color:#f67d50;padding:10px 0 15px 0px;margin-bottom:15px;}
#recipe_index ul li{background:no-repeat 0% 50%;padding-left:30px;margin-bottom:5px;}
#recipe_img{margin:10px;}

#recipe .box_in{padding:15px 10px 15px 10px;}
#recipe_mat div.recipe_ziryou{width:100%; float:none !important; margin-bottom:15px;}

#recipe_mat div dl dt{width:70%; float:left;}
#recipe_mat div dl dd{width:30%; float:right; }

#recipe_make ul li{margin-bottom:0px;}

#recipe .div_line{height:20px;}
#recipe_onepoint h4{background-position:50% 0% !important; padding:80px 0 0px 0px; margin-bottom:15px;font-size:20px; text-align:center;}



/*  column
-----------------------------------------------------------------------------*/
#column .tit h4{width:50%;}
#column .tit p{width:50%;}
#column_main h3{text-align:right;}
#column #column2_main .tit01{padding-top:0px;}
#column #column2_main .tit h4{float:left;width:70%;font-size:18px;font-weight:normal;padding-bottom:5px;}
#column #column2_main .tit p{float:right;width:20%;text-align:right;font-size:12px;padding-top:25px;padding-bottom:5px;}

#column ul li{background:0% 0% no-repeat;padding:30px 0px 10px 0px;margin: 0 0 8px 0px;}
#column2_main ul li{margin: 0 0 10px 0px; padding:0 0 0 25px;}

#column #column_tit{text-align:center;margin-bottom:20px; background:url(../../column/img/month_tit.gif) top center no-repeat; height:69px; text-align:center; padding-top:30px; font-size:20px; line-height:110%; }
#column #column_page_title{position:static; height:auto;}
#column #column_page_title .c_p_tit{position:static; width:100%; font-size:14px; padding-bottom:10px;}
#column #column_page_title .c_p_tit .month_tit{font-size:16px; display:inline !important;}

#column #column_img{margin:0 auto 10px auto; display:block; text-align:center; float:none;}
#column #column_txt{padding-bottom:20px;}
#column #column_txt p{padding-bottom:15px;}

/*  ado
-----------------------------------------------------------------------------*/
#ado #ado_page_title{padding:0 0 20px 0;}
#ado .ado_main{padding:0 10px 15px 10px;}
#ado .ado_box{margin:0 10px 20px 10px;padding: 0 15px 20px 15px;}
#ado .ado_box_img{margin:-20px 0 20px 0;}
#ado .ado_txt{padding:20px 10px 0 10px; font-size:12px;}

#juken dl{padding-bottom:15px; clear:both; overflow:hidden;}
#juken dt{padding-bottom:10px;}
#juken dd.ado_fl img{width:100%; height:auto;}
#juken dd.ado_fl{float:left; width:48%;}
#juken dd.ado_fr{float:right; width:50%; padding-left:2%; font-size:12px;}

#ado dl{width:100% !important; padding-bottom:15px !important; clear:both; overflow:hidden;}
#ado dt{padding-bottom:10px !important;}
#ado dd.ado_fl img{width:100%; height:auto;}
#ado dd.ado_fl{float:left; width:48% !important;}
#ado dd.ado_fr{float:right; width:50% !important; padding-left:2% !important; font-size:12px;}


#ado_field #field_page_title{background:url(../../ado/img/field_main_tit.gif) no-repeat 50% 0%; padding-bottom:15px; height:auto; background-size:contain; position:static; padding-top:33%;}
#ado_field #field_page_title p{position:static !important;width:auto;}
#ado_field #field_main{ width:auto; height:auto; position:static !important;}
#ado_field #field_main li{position:static !important; text-align:center; margin-bottom:10px; display:block; width:100% !important; height:auto;} 


#ado_fukugo #fukugo_page_title{background:url(../../ado/img/fukugo_main_tit.gif) no-repeat 50% 0%; padding-bottom:15px; height:auto; background-size:contain; position:static; padding-top:33%;}
#ado_fukugo #fukugo_page_title p{position:static !important;width:auto;}

#ado_fukugo .fukugo_main{padding:0 10px 25px 10px;}
#ado_fukugo dd.fukugo_fl{float:none; width:auto; text-align:center;}
#ado_fukugo dd.fukugo_fr{float:none; width:auto; padding-left:0px; font-size:14px;}

/*  kyokai
-----------------------------------------------------------------------------*/
#kyokai .page_title{padding:20px 0;text-align:center;}
#kyokai #kyokai_main{padding-bottom:20px; font-size:12px;}
#kyokai #kyokai_main p:first-child{text-align:center;}
#kyokai #kyokai_img{margin:0 0 10px 0px; float:none; text-align:center;}
#kyokai .box_in{padding:0 0px 15px 0px;}
#kyokai .box_line{ padding:0 0px 25px 0px; margin-bottom:20px;}
#kyokai .box_last{padding:0 0px 25px 0px;}
#kyokai .img_line{padding-bottom:20px; margin-bottom:20px;}
#kyokai .txt18{font-size:16px;}

/*  shoseki
-----------------------------------------------------------------------------*/
#shoseki .dl01{padding:0 10px 20px 10px;}
#shoseki .dl01 .fr,#shoseki .dl01 .fl{text-align:center; margin-bottom:10px;}
#shoseki .shoseki_txt_box,
#shoseki .shoseki_one_book{width:100% !important; float:none !important;}

/*  qa
-----------------------------------------------------------------------------*/
#qa #qa_page_title{padding-top:20px}
#qa #qa_page_navi{border:5px solid #FFE1D4; width:auto; font-size:14px; margin:15px auto; padding:10px 15px; background:#FFE1D4; border-radius:15px;}

#qa #qa_page_navi ul li{float:none !important; margin-right:0px; margin-bottom:5px;}

#qa .qa_main_title{background-position:5px 3px;padding:10px 10px 10px 65px;}
#qa .qa_main_title h3{ width:100%; display:block;}

#qa dl,#qa dl.no_dl{padding:10px 0px;}
#qa dt{font-size:14px;}
#qa dd{font-size:13px;padding-left:15px; padding-bottom:15px;}

#qa #qa_tel{text-align:center;font-size:14px;}
#qa #qa_tel p{padding-bottom:10px;}
#qa #qa_attention{background:url(../../qa/img/index_attention.gif) no-repeat 50% 0% #FFE1D4;border:5px solid #FFE1D4; font-size:12px; margin:10px 10px 20px 10px; padding: 45px 15px 10px 15px;border-radius:7px; line-height:120%; text-align:center;}


/*  dantai
-----------------------------------------------------------------------------*/
#dantai .box_in{padding:0 10px 0 10px;} 
#dantai h3{color:#ff4e20;font-size:18px;}
#dantai .color_box{background:#FFFBCB;padding:10px 15px 10px 15px; margin:20px 0 30px 0;font-size:14px;}
#dantai .tel_box{padding:0 10% 30px 10%;}
.br_sp{display:block;}
#dantai .p_l{float:none !important;width:auto;margin-bottom:10px;}
#dantai .p_r{float:none !important;width:auto; font-size:14px;}

#dantai .div_line{background:url(../../dantai/img/index_line.png) 50% 0% no-repeat; height:40px;}

#dantai #one_point h3{background:url(../../dantai/img/index_onepoint.gif) 50% 0% no-repeat;padding:80px 10px 10px 10px;margin-bottom:20px;text-align:center;}
#dantai #one_point .color_box{padding:10px 15px 10px 15px; marign-bottom:20px;}
#dantai #one_point .book_img{float:none !important;padding:0 0px 20px 0px;}
#dantai #one_point h4{padding-bottom:20px;}
#dantai #one_point p{padding-bottom:20px;}

#dantai  #one_point .color_box2{padding:10px 15px 10px 15px; margin:0 0 30px 0;}
#dantai #one_point .color_box2 h4{font-weight:normal;font-size:18px; padding-bottom:20px;}
#dantai #one_point .color_box2 h5{font-weight:normal;font-size:16px;}
#dantai #one_point .color_box2 p{padding-left:15px;font-size:14px;}



/*  gokaku
-----------------------------------------------------------------------------*/
#gokaku #gokaku_img{margin-left:0; float:none !important;font-size:16px;text-align:center;margin-bottom:10px;}
#gokaku h3{text-align:center; font-size:18px;padding:25px 0 15px 0;}
#gokaku p{font-size:14px;}
#gokaku rb{font-size:18px;}
#gokaku rt{font-size:12px;}
#gokaku .box_in{padding-bottom:25px;}

/*  kaiin
-----------------------------------------------------------------------------*/
#kaiin .box_in{padding:0px;} 

#kaiin .color_box{background:#FFFBCB;padding:15px; margin-bottom:20px;}

#kaiin .my_list {overflow:hidden;}
#kaiin .my_list li{text-indent:-85px; padding-left:85px;}

#kaiin .div_line{background:url(../../kaiin/img/index_line.gif) 0% 50% no-repeat; height:30px;}
#kaiin .tokuten{background-repeat: no-repeat; background-position:50% 0%;padding:65px 0px 15px 0px;}


/*  tusin
-----------------------------------------------------------------------------*/
#tusin .img_r{float:none; text-align:center; padding: 0 0 10px 0px; margin:0 auto;}



/*  gansho
-----------------------------------------------------------------------------*/

#gansho #gansho_box{position:static; height:auto; margin-bottom:60px;}
#gansho #gansho_box li{ border:#33CFED 2px solid; border-radius:18px;}
#gansho #gansho_box li .gansho_l_box{padding:18px;}
#gansho #gansho_box li .gansho_l_box .img_right,#gansho #gansho_box li .gansho_l_box .img_photo{margin-top:20px;}
#gansho #gansho_box li .gansho_l_box h3{margin-bottom:5px;}
#gansho #gansho_box .gansho_list01{ position:static; top:auto; left:auto; width:auto; height:auto;}
#gansho #gansho_box .gansho_list02{ position:static; top:auto; left:auto; width:auto; height:auto;}
#gansho #gansho_box .gansho_list03{ position:static; top:auto; left:auto; width:auto; height:auto;}
#gansho #gansho_box .gansho_list04{ position:static; top:auto; left:auto; width:auto; height:auto;}
#gansho #gansho_box .gansho_list05{ position:static; top:auto; left:auto; width:auto; height:auto;}

#gansho .gansho_sub_box {margin-bottom:0px;}
#gansho .gansho_sub_box dd{padding: 0 20px 5px 20px;}
#gansho .gansho_sub_box dd a{ color:#FF9670; text-decoration:underline;}

#gansho #gansho_attention{border-radius:13px; background:#FFD9CB; padding:25px 35px; text-align:left;}
#gansho #gansho_attention .g_a_tit{ margin-bottom:15px; font-weight:normal;  font-size:18px;}
#gansho #gansho_attention .g_a_tit .fl{ color:#FFF; background:#FF5465; border-radius:3px; padding:5px 10px; line-height:100%;}
#gansho #gansho_attention .g_a_tit .fr{ color:#FF5465;}

/*  event
-----------------------------------------------------------------------------*/
#event #event_page_title{background:#83D4E5;padding:15px 0 30px 0;text-align:center;}
#event #event_main{padding:0 18px 18px 18px;}
#event .box_in h3{padding:55px 0 660px 0;text-align:center;color:#5c9aea;text-size:16px;text-weight:normal;}


/*  info
-----------------------------------------------------------------------------*/
#info .div_line{background:url(../../info/img/index_line.gif) 50% 0% no-repeat; height:10px;}
#info #info_main h3{font-size:16px;padding-top:20px;}
#info .p_access{padding:0 15px 25px 15px;font-size:14px;}
#info .p_tel{width:80%;padding:20px 10% 25px 10%;}
#info .p_open{padding:20px 15px 25px 15px;font-size:14px;}



/*  privacy
-----------------------------------------------------------------------------*/
#privacy .box_in{padding:15px 0px;}
#privacy #privacy_main h3{font-size:16px;}
#privacy #privacy_main{padding:35px 0px 0 0px;}
#privacy #privacy_main .main_table{border:none !important; border-bottom:#666 1px solid !important;}
#privacy #privacy_main .main_table th{ border-bottom:#666 2px solid !important;}
#privacy #privacy_main .main_table .green_tit{border-bottom-width:2px !important;}
/*#privacy .main_table td{border-bottom:none !important;}*/
#privacy .my_list {overflow:hidden;}
#privacy .my_list li{text-indent:-15px; padding-left:15px;}

/*  link
-----------------------------------------------------------------------------*/
#link .box_in{padding:15px 0px;}
#link #link_main h3{padding-bottom:10px;}
#link #link_main p{padding:5px 0 20px 0;}

/*  sitemap
-----------------------------------------------------------------------------*/
#sitemap .div_line{padding:10px 10px 15px 10px;font-size:12px;}
#sitemap .last_line{background:none;padding-bottom:20px;}
#sitemap #sitemap_main dd{padding-left:15px;}
#sitemap #sitemap_main li{padding-left:25px;}


}


@media only screen and (max-width :361px) {

}

@media not screen and (1) { .page-top { position: static; } }*//* Opera10以上 */

