<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.flanet\.jp
RewriteRule ^(.*) http://flanet.jp/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^ssl\.flanet\.jp
RewriteRule ^(.*) http://flanet.jp/$1 [R=301,L]
RewriteCond %{ENV:HTTPS} !^on$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>