.sp   { font-size:  1px; }
.sp2   { font-size:  2px; }
.ttt10 { font-size: 10px; line-height: 13px; }
.tt10 { font-size: 10px; line-height: 11px; }
.t10  { font-size: 10px; line-height: 14px; }
.t12  { font-size: 12px; line-height: 14px; }
.ttt12  { font-size: 12px; line-height: 35px; }
.th12  { font-size: 12px; line-height: 18px; }
.ttt14 { font-size: 14px; line-height: 18px; }
.tt14 { font-size: 14px; line-height: 22px; }
.tttt14 { font-size: 14px; line-height: 28px; }
.tt12  { font-size: 12px; }
.t14  { font-size: 14px; line-height: 16px; }
.t16  { font-size: 16px; line-height: 18px; }
.tt16  { font-size: 16px;}
.ttt16  { font-size: 16px; line-height: 24px; }
.tt18  { font-size: 18px; line-height: 24px; }
.t18  { font-size: 18px; }
.t20  { font-size: 20px; }
.t24  { font-size: 24px; }
.t30  { font-size: 30px; }
.t40  { font-size: 40px; }
.b12  { font-size: 12px; line-height: 14px; font-weight: bold; }
.b14  { font-size: 14px; line-height: 16px; font-weight: bold; }
.b16  { font-size: 16px; line-height: 18px; font-weight: bold; }
.bh16  { font-size: 16px; line-height: 26px; font-weight: bold; }
.b18  { font-size: 18px; line-height: 20px; font-weight: bold; }
.b20  { font-size: 20px; font-weight: bold; }
.bl14 { font-size: 14px; line-height: 20px; color: #22449C; }
.bl12 { font-size: 12px; line-height: 16px; color: #22449C; }
.k16  { font-size: 16px; line-height: 24px; }
.k14  { font-size: 14px; line-height: 18px; }
.k12  { font-size: 12px; line-height: 18px; }
.cl   { font-size: 14px; line-height: 22px; }
.bf   { page-break-before: always; }
.af   { page-break-after: always; }
body  { bgcolor:#ffffff; color:#333333; margin-top: 5px; }



a:link { color: #000084;  text-decoration: none; }
a:visited { color: #000084;  text-decoration: none; }
a:hover { color: #66ccff;  text-decoration: none; }
a:active { color: #000084;  text-decoration: none; }


h1 { font-size: 10px; line-height: 14px; display: inline; }
h2 { font-size: 12px; line-height: 14px; display: inline; }

